.pad10 {
	padding:10px 20px;
}

.pad20 {
	padding:20px;
}

.marg20 {
	margin:20px;
}

.pad40 {
	padding:40px;
}

.of20{
	margin-left:20px;
}

.t20{
	margin-top:20px;
}

.b20{
	margin-bottom:20px;
}

.bclose{
	margin-bottom:0px;
}

.tclose{
	margin-top:0px;
}

.white{
	color: #ffffff;
}

.brown{
	color: #786211;
}

.gold{
	color: #daa520;
}

.dust{
	color: #e8c15f;
}

.light{
	color: #f2dba1;
}

.offwhite{
	color: #f8ecce;
}

a {
	color: #786211;
}

.no-overflow {

}

.logoHeader{
	position:relative;
	top: 0px;
	height: 10vh;
	display: flex;
	align-items: center;
	border-top: #ae8419 solid 5px;
	background-color: #daa520;
	box-shadow:
}

.nav{
	position:relative;
	top: 0px;
	height: 7vh;
	display: flex;
	align-items: center;
	border-top: #f8ecce solid 2px;
	background-color: #e8c15f;
}

.search{
	height: 30vh;
	display: flex;
	align-items: center;
	border-top: #ae8419 solid 2px;
	border-bottom: #ae8419 solid 2px;
	background-color: #f8ecce;
}

.product{
	height: 35vh;
	display: flex;
	align-items: center;
	border-top: #ae8419 solid 2px;
	border-bottom: #ae8419 solid 2px;
	background-color: #f8ecce;
}

.filter{
	background-color: #e8c15f;
	border-bottom: #f8ecce solid 2px;

}

.bottom{
	display: flex;
	align-items: flex-end;
	align-self: flex-end;
}

.vCenter{
	display: flex;
	align-items: center;
}

.productsHalf{
	height: 42vh;
	display: flex;
	align-items: center;
	background-color: #f2dba1;
}

.more{
	background-color: #f2dba1;
	padding-bottom: 20px;
}

.moreTop{
	background-color: #f2dba1;
}

.moreT:hover{
	text-decoration: none;
	color: #daa520;
}

.productsFull{
	height: 80 vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #f2dba1;
}

.thumbB{
	height: 260px;
	width: 240px;
	border-radius: 5px;
	background-color: #f8ecce;
	border: #ffffff solid 2px;
	align-content: center;
}

.thumbB:hover{
	border: #daa520 solid 4px;
}

.thumbT:hover{
	color: #daa520;
	text-decoration: none;
}

.thumbBimg{
	height:150px;
	width: 150px;
	border: #ffffff solid 4px;
}

.singleBimg{
	height:180px;
	width: 180px;
	border-radius: 5px;
	margin-right: 20px;
	border: #ffffff solid 4px;
}

.singleRimg{
	height:80px;
	width: 80px;
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	border: #ffffff solid 4px;
}

.purchaseMe{
	border-radius: 5px;
	background-color: #ffffff;
	border: #e8c15f solid 5px;
	align-content: center;

}

.reviews{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #f8ecce;
}

.CL{
	position: relative;
    top: -8px;
    left: -12%;
}

.CL:hover{
	color: #daa520;
}

.CLP{
	position: relative;
    top: 0px;
    left: 0px;
}

.CLP:hover{
	color: #daa520;
}

.CR{
	position: relative;
    top: -8px;
    right: -12%;
}

.CR:hover{
	color: #daa520;
}

.CRP{
	position: relative;
    top: 0px;
    right: -10px;
}

.CRP:hover{
	color: #daa520;
}

.pbox{
	height: 32px;
	margin: 0 40%;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: #786211 solid 3px;
}

.cartB:hover{
	color: #daa520;
}

.arrows{
	display: flex;
	align-items: center;
}


.sm{
	font-size:.75em;
}

.lrg{
	font-size:6em;
}

.lrg:hover{
	display: flex;
	align-items: center;
	color: #daa520 ;
}

.footer{
	height: 6vh;
	width:100%;
	position:fixed;
	bottom: 0px;
	display: flex;
	align-items: center;
	border-top: #f8ecce solid 5px;
	background-color: #daa520;
}

.btxt{
	font-family: Choplin-Medium;
	width: 100%;
}

.tshadow{
	text-shadow: 0px 0px 4px #000000;
}

.bshadow{
	box-shadow: 0px 0px 4px #3d3d3d;
}

.tshadowl{
	text-shadow: 0px 0px 2px #3d3d3d;
}


.backgroundBeer{
	background-image: url('img/00s_wheathops.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}



.buffer {
  margin: 1.5em 0.8em; }

.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: -webkit-min-content; }
  .signin-container > * {
    width: 33%; }
  .signin-container .local {
    max-width: 18em;
    text-align: left; }
  .signin-container .or {
    max-width: 10em; }
  .signin-container .oauth {
    max-width: 18em; }
  .signin-container .btn-social {
    text-align: center;
    width: 100%; }

@media (max-width: 600px) {
  .signin-container {
    flex-direction: column; }
    .signin-container > * {
      width: 100%; } }

[contenteditable] {
  line-height: 1.4em;
  white-space: pre-wrap;
}

[contenteditable]:empty::before {
  content: attr(placeholder);
  color: #aaa;
  cursor: text; }

[contenteditable]:empty:hover::before {
  color: #bbb; }

.form-like[contenteditable] {
  border-bottom: 1px dashed #000; }
  .form-like[contenteditable]:focus {
    border-color: transparent; }
  .form-like[contenteditable][contenteditable="false"] {
    border-color: transparent; }

input {
  border-style: solid;
  line-height: 1.4em;
}

input:placeholder-shown::before {
  color: #bbb;
  cursor: text;
}

input:placeholder-shown:hover::before {
  color: #fff;
}

input.form-like {
  border: none;
  border-bottom: 1px dashed #000;
  background-color: transparent;
}

input.form-like:focus {
    border-color: transparent;
}

input.form-like[disabled] {
    border-color: transparent;
}

.checkout {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	background-color: #f2dba1;
}


